*{
    margin: 0;
    padding: 0;
    font-family: "poopins", serif;
    /* width: 100%; */
}

/* navbar */
.navbar-section{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
.navbar-section .navtime p{
    color: white;
    font-size: 1rem;
    text-align: center;
    /* margin-left: 5%; */
    line-height: 2rem;
}

.navbar-section .navbar{
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    /* top: 2rem; */
    background-color: white;
}

.navbar-section .navbar .kanan{
    background-color: black;
    padding: .5rem;
    cursor: pointer;
}
.navbar-section .navbar .kanan h1{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: .8rem;
    color: white;
}

.navbar-section .navbar .tengah ul{
    list-style-type: none;
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
    /* background-color: black; */
}
.navbar-section .navbar .tengah a {
    text-decoration: none;
    color: black;
}

.navbar-section .navbar .kiri i{
    margin-left: 1.5rem;
    cursor: pointer;
    /* background-color: black; */
}

/* main page kiri*/
.mainpagewrapper {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    /* position: relative; */
}

.mainpagewrapper .kanan{
    width: 50%;
    height: 77rem;
    /* background-color: black; */
}

.mainpagewrapper .kiri {
    width: 50%;
    height: 50rem;
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: red; */
}
.mainpagewrapper .kiri .big{
    position: absolute;
    left: 4%;
    top: 20%;
}
.mainpagewrapper .kiri .big img{
    width: 650px;
    border-radius: 2%;
}
.mainpagewrapper  .kiri .small{
    position: absolute;
    left: 4.2%;
    top: 80%;
}
.mainpagewrapper .kiri .small img {
    width:200px;
    border-radius: 5%;
    margin-left: 10px;
}

/* main page kanan */
.kanan .categories {
    display: flex;
    width: 25rem;
    justify-content: space-between;
}

.kanan .categories .satu,.dua,.tiga {
    border-radius: 999px;
    background-color: rgba(171, 171, 171, .2);
    text-align: center;
    padding: 5px 10px;
    border: none;
}

.kanan .description h3{
    font-weight: bold;
}
.kanan .description p{
    color: rgba(0,0,0, .5);
}

.kanan .chart .region{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    height: 2.5rem;
    background-color:rgba(171, 171, 171, .2);
    padding: 5px 10px;
    border-radius: 999px;
}

.kanan .chart .region button {
    border: none;
    /* background-color: rgba(0,0,0, .5); */
    height: 30px;
    width: 40px;
    border-radius: 999px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.kanan .chart .region .active{
    background-color: white;
}

.kanan .chart .sizeshoes{
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 70%;
}

.kanan .chart .sizeshoes button{
    padding: 5px 20px;
    border-radius: 999px;
    margin: 10px 10px 10px 10px;
    border: none;
}

.kanan .chart .sizeshoes .active{
    background-color: rgba(0,0,0, 1);
    color: white;
    /* border: 2px solid aqua; */

}

.kanan .quantity {
    display: flex;
    width:15%;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.kanan .quantity button {
    padding: 3px 15px;
    font-weight: bold;
    border-radius: 999px;
}

.kanan .discount {
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(171, 171, 171, .1);
}

.kanan .buttonbawah{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.kanan .buttonbawah .buynow, .addtochart{
    padding: 10px 60px;
    border-radius: 10px;
    background-color: white;
}

.kanan .buttonbawah .active {
    background-color: black;
    color: white;
}

/* bottom page */
.bottom {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.bottom img{
    width: 200px;
}

.bottom .image1, .image2, .image3{
    width: 250px;
    border-radius: 5%;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(171, 171, 171, .2);
    justify-content: center;
}

.bottom .image1 h5, .image2 h5, .image3 h5{
    margin-top: 5px;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    /* top: 2rem; */
    background-color: black;
}
.footer .kanan{
    background-color: white;
    padding: .5rem;
    cursor: pointer;
    height: 60px;
    border-radius: 5px;
}
.footer .kanan h1{
    font-size: 1.5rem;
    /* margin-top: 10px; */
    font-weight: bold;
    line-height: .8rem;
    color: black;
}

.footer .tengah ul{
    list-style-type: none;
    width: 30rem;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-evenly;
    /* background-color: black; */
}
.footer .tengah a {
    text-decoration: none;
    color: white;
}

.footer .kiri i{
    margin-left: 1.5rem;
    cursor: pointer;
    /* background-color: black; */
}