*{
    margin: 0;
    padding: 0;
    font-family: "poopins", serif;
    /* width: 100%; */
}

/* navbar */
.navbar-section{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
.navbar-section .navtime p{
    color: white;
    font-size: 1rem;
    text-align: center;
    /* margin-left: 5%; */
    line-height: 2rem;
}

.navbar-section .navbar{
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    /* top: 2rem; */
    background-color: white;
}

.navbar-section .navbar .kanan{
    background-color: black;
    padding: .5rem;
    cursor: pointer;
}
.navbar-section .navbar .kanan h1{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: .8rem;
    color: white;
}

.navbar-section .navbar .tengah ul{
    list-style-type: none;
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
    /* background-color: black; */
}
.navbar-section .navbar .tengah a {
    text-decoration: none;
    color: black;
}

.navbar-section .navbar .kiri i{
    margin-left: 1.5rem;
    cursor: pointer;
    /* background-color: black; */
}

/* main page */
.mainpagewrapper {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    /* position: relative; */
}

.mainpagewrapper .kanan{
    width: 50%;
    height: 100rem;
    background-color: black;
}

.mainpagewrapper .kiri {
    width: 50%;
    height: 50rem;
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: red; */
}
.mainpagewrapper .kiri .big{
    position: absolute;
    left: 4%;
    top: 20%;
}
.mainpagewrapper .kiri .big img{
    width: 650px;
    border-radius: 2%;
}
.mainpagewrapper  .kiri .small{
    position: absolute;
    left: 4.2%;
    top: 80%;
}
.mainpagewrapper .kiri .small img {
    width:200px;
    border-radius: 5%;
    margin-left: 10px;
}